name: CI-CD

on:
  push:
    branches:
      - main
  pull_request:

env:
  VITE_MILLICAST_STREAM_NAME: ${{ secrets.STREAM_NAME }}
  VITE_MILLICAST_STREAM_PUBLISHING_TOKEN: ${{ secrets.STREAM_PUBLISHING_TOKEN }}
  VITE_MILLICAST_STREAM_ID: ${{ secrets.STREAM_ACCOUNT_ID }}
  VITE_MILLICAST_VIEWER_BASE_URL: ${{ secrets.VIEWER_BASE_URL }}
  NETLIFY_AUTH_TOKEN: ${{ secrets.NETLIFY_AUTH_TOKEN }}
  BRANCH_REF: ${{ github.ref }}
  PR_TITLE: ${{ github.event.pull_request.title }}
  PR_NUM: ${{ github.event.number }}

jobs:
  CI-CD:
    runs-on: ubuntu-latest
    steps:
      - name: Check out code
        uses: actions/checkout@v3
        with:
          fetch-depth: 0
      - name: Setup Nodejs 16.x
        uses: actions/setup-node@v3
        with:
          node-version: 16
      - name: install
        run: yarn --frozen-lockfile
      # waiting for approval - uses: nrwl/nx-set-shas@v3
      - name: set base branch
        run: |
          if [ $BRANCH_REF = 'refs/heads/main' ]; then 
            echo 'BASE_BRANCH=origin/main~1' >> $GITHUB_ENV
          else
            echo 'BASE_BRANCH=origin/main' >> $GITHUB_ENV
          fi
      - name: lint & check
        run: |
          yarn nx workspace-lint
          yarn nx format:check
          git fetch origin main
          yarn nx affected --target=lint --base=${{ env.BASE_BRANCH }} --parallel=3
      - name: build & test
        run: |
          eval "yarn nx affected --target=build --base=${{ env.BASE_BRANCH }} --parallel=3"
          eval "yarn nx affected --target=e2e --base=${{ env.BASE_BRANCH }} --parallel=1 --skip-nx-cache"
      - name: Generate Test Report
        if: always()
        run: |
          eval "yarn nx affected --target=e2e-report --base=${{ env.BASE_BRANCH }} --skip-nx-cache"
      - name: Upload artifact
        uses: actions/upload-artifact@v3
        if: always()
        with:
          name: test-artifacts
          path: ./apps/bdd-test/reports/
          retention-days: 2
      - name: deploy
        run: eval "yarn nx affected --base=${{ env.BASE_BRANCH }} --target=deploy"
